<div class="speaker-card">
  <div class="speaker-avt">
    avatar
    flag or sm
  </div>
  <div class="speaker-card-body">
    <div class="speaker-info">
      <h2><%= @speaker.full_name %></h2>
    </div>
    <div class="speaker-stats"></div>
  </div>
</div>
