// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$broken-white:#FBFBFC;

$color_white: #fff;
$color_prime: rgb(141, 33, 43);
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$color_black: #333333;
