.video_banner {
  height: 70vh;
  width: 100%;
  border-radius: 3px;
  transform: scale(1.2);
  video {
    height: 100%;
    width: 100%;
  }
}

.see-more {
  text-align: right;
  a {
    text-decoration: none;
    color: $color_prime;
    opacity: 0.7;
    &:hover {
      color: $color_prime;
      opacity: 1;
    }
  }
}
