<h2>Admin speakers Index</h2>

<ul>
  <% @speakers.each do |speaker| %>
    <li><%= link_to speaker.full_name, admin_speaker_path(speaker) %></li>
    <br>
  <% end %>
</ul>

<div class="text-center">
  <%= link_to 'new speaker', new_admin_speaker_path, class: 'btn btn-primary' %>
</div>