<%= render 'shared/navbar' %>
  <h2>Learn from the great, one speech at a time!</h2>
<div class="search-bar border-r3">
  <%= form_tag speeches_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-bar-text",
      placeholder: "Search for a speech or a speaker..."
    %>
  <% end %>
</div>
