<div class="text-center">
  <h2>Admin, the category!</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= simple_form_for @category, url: admin_categories_path, method: :post do |f| %>
        <%= f.input :name %>
        <%= f.submit 'Update', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to 'index', admin_categories_path, class: 'btn btn-primary' %>
</div>
