.speaker-speech-banner {
  height: auto;
  width: 100%;
  border-bottom: 2px solid $color_grey;
  display: flex;
  margin-bottom: 30px;
  .stats {
    right: 20px;
    bottom: 23px;
  }
}
.speaker-photo {
  height: 180px;
  flex: 0 0 200px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.speaker-info {
  margin-bottom: 30px;
  h1 {
    color: $color_grey_dark;
    font-size: 24px;
  }
  a {
    text-decoration: none;
    color: $color_grey_dark;
  }
  h2 {
    color: $color_black;
    font-size: 24px;
    font-weight: lighter;
  }
}
#speech-show-data-place {
  font-size: 14px;
}
.speaker-bio {
  font-size: 14px;
}
