html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-text {
  font-size: 14px;
}
.fa-quote-left {
  font-size: 9px;
  vertical-align: bottom;
}
.fa-quote-right {
  font-size: 9px;
  vertical-align: top;
}
.footer-links a:hover {
  opacity: 1;
}
