// main navbar
.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1D1843;
  padding: 16px 24px;
  height: 50px;
}

.navbar-lewagon .brand {
  width: 35px;
}

.dropdown-item {
  font-size: 12px;
  display: block;
  text-decoration: none !important;
  color: #1D1843;
  padding: 5px 5px;
}
.dropdown-item:hover {
  color: #838198;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

// .navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
//   margin-left: 24px;
//   color: rgb(250,250,250);
// }
// .navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
//   color: #151515;
// }

.navbar-lewagon-link {
  text-decoration: none;
  margin-left: 0px;
  padding: 5px;
  font-size: 14px;
  color: white;
  &:hover {
    border-bottom: 2px white solid;
    color: rgba(255,255,255,1);
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-lewagon-actions .avatar {
  margin-left: 24px;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}

#dropdownMenuButton {
  height: 30px;
  border-radius: 50%;
}
