.search-page-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://res.cloudinary.com/lepetitbelge/image/upload/v1551276868/papers2.jpg");
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.search-page-banner-quote {
  h3 {
    color: white;
    opacity: 0.8;
    font-style: italic;
  }
  h4 {
    color: white;
    opacity: 0.8;
    span {
      font-size: 18px;
    }
  }
}
