.speech-card {
  display: flex;
  flex-direction: column;
  z-index: 0;
  .card-image {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: left .2s;
    background: rgba(#000, .6);
    color: $color_white;
    width: 100%;
    font-size: 1.9rem;
    opacity: 0.8;
    ul li {
      display: inline-block;
    }
  }
  .description {
    position: relative;
    z-index: 1;
  }
  &:hover {
    .details {
      left: 0%;
      vertical-align: middle;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 500px;
    height: 100px !important;
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(10deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(10deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}
