.speech-card {
  display: flex;
  flex-direction: column;
  z-index: 0;
  a {
    color: inherit;
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 100px;
  }
  .card-image {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    // top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: 1.9rem;
    opacity: 0.8;
    a {
      text-decoration: none;
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
    }

    .tags {
      ul:before {
        font-family: Arial;
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 300;
      color: $color_grey_dark;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .read-more {
      a {
        color: $color_prime;
        display: inline-block;
        position: relative;
        // color: #b28a52;
        display: inline-block;
        position: relative;
        border: 1px solid;
        border-radius: 3px;
        padding: 3px;
        font-size: 12px;
        &:after {
          font-family: FontAwesome;
          transition: margin .3s, opacity .3s;
        }
        &:hover {
          transform: scale(1.05);
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      &:before {
        content: "";
        position: absolute;
        background: rgb(225, 205, 141);
        width: 50%;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
      vertical-align: middle;
    }
  }


  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 500px;
    height: 100px !important;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(10deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(10deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}
