.speech-card {
  display: flex;
  max-width: 750px;
  height: 100px !important;
  z-index: 0;
  .meta {
    .card-image {
      position: absolute;
      bottom: 0;
      background-size: cover;
      background-position: center;
      transition: transform .2s;
    }
    @media (max-width: 570px) {
      width: 0;
      opacity: 0;
    }
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .details {
    position: absolute;
    bottom: 0;
    left: -100%;
    padding-left: 25px;
    transition: left .2s;
    background: rgba(#000, .6);
    color: $color_white;
    width: 100%;
    font-size: 1.9rem;
    opacity: 0.8;
    ul li {
      display: inline-block;
    }
  }
  .description {
    position: relative;
    z-index: 1;
    flex-basis: 60%;
    &:before {
      transform: skewX(10deg);
      content: "";
      background: $color_white;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  &:hover {
    .details {
      left: 0%;
      vertical-align: middle;
    }
  }
  &.alt {
    flex-direction: row-reverse;
    .description {
      &:before {
        left: inherit;
        right: -10px;
        transform: skew(10deg)
      }
    }
  }
}
