
.thread {
  overflow: scroll;
}
.thread-sticky {
  position: fixed !important;
  top: 75px;
  left: 57.7%;
  max-height: calc(100vh - 90px);
}
.thread-contribution {
  width: 400px;
}
.contribution-contributor {
  display: flex;
}
.contributor-details {
  flex-grow: 1;
  margin-left: 10px;
}
.contribution-username {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
}
.contribution-date {
  font-style: italic;
  font-size: 11px;
  margin-bottom: 2px;
}
.contribution-content p {
  font-size: 14px;
  color: $color_black;
}
.contribution-details {
  display: flex;
  background-color: rgba(240,240,240,0.9);
}
.contribution-content {
flex-grow: 1;
}
.contribution-voting {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  p {
    margin-bottom: 0;
    width: 20px;
  }
  a {
  width: 20px;
    &:first-child {
      margin-bottom: -8px;
    }
    &:last-child {
      margin-top: -8px;
    }
  }
}
.contribution-contributor-comment {
  display:flex;
}
.voting-item {
  color: $color_grey_dark;
}
.thread-comments {
  width: 400px;
}


// TEST ------------------------

.comments:after { border-color: #fff; }
.comments:before { background-color: #fff; }
.comments .comment {
  background: #fff;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 15px;
}
.comments [class*="level-"] .photo:before { background-color: #fff; }
.comments .meta { color: #ccc; }
.comments .meta a { color: inherit; }
.comments .meta a:hover { color: rgb(199, 168, 109); }
.comments .body { color: #888; }

.comment {
  left: 29px;
}

/**
 * Comments Thread
 */
.comments {
  list-style-type: none;
  padding: 5px 0 0 0;
  position: relative;
  margin: 0;
  width: 400px;
}
.comments:before,
.comments .comment,
.comments .comment:after,
.comments .comment:before,
.comments .photo img,
.comments [class*="level-"] .photo:before {
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
}
.comments:after,
.comments:before {
  display: block;
  content: '';
  position: absolute;
}
.body-and-voting {
  display: flex;
}
.body {
  flex-grow: 1;
  position: relative;
  overflow: scroll;
  max-height: 200px;
}
.body-comment {
  width: 100%;
  height: 100px;
}
.submit-form {
  position:absolute;
  bottom: 6px;
  right: 2px;
  color: #ccc;
  font-weight: bolder;
  &:hover {
    color: $color_prime;
  }
}

.comments .comment {
  margin-bottom: 10px;
  position: relative;
}
// Position of the photo from both, contribution an comment:
.comments .photo {
  position: absolute;
  left: -17px;
  top: 2px;
}

.comments .meta { margin-bottom: 5px; }
.comments .level-2 {
  margin-left: 30px;
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: 1px solid $color_grey;
  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.btn-ghost {
  margin: 0px;
  font-size: 10px;
  &:hover {
    background-color: $color_prime;
    color: white;
  }
}

.comments.invisible {
  display: none;
}

.hideDivContributions {
  display: none;
}
.hideDivContributions.is-visible {
  display: block;
}

.hideDivComments {
  display: none;
}
.hideDivComments.is-visible {
  display: block;
}

.contribution-indicator {
  color: $color_prime;
  font-size: 25px;
  position: relative;
  &:hover {
    color: white;
  }
}
.vote-counter {
  position: absolute;
  top: 8px;
  left: 3px;
  width: 19px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
