
.thread-sticky {
  position: fixed !important;
  top: 75px;
  left: 57.7%;
//  width: 100%;
//  z-index: 500;
}
.thread-contribution {
  width: 400px;
}
.contribution-contributor {
  display: flex;
}
.contributor-details {
  flex-grow: 1;
  margin-left: 10px;
}
.contribution-username {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
}
.contribution-date {
  font-style: italic;
  font-size: 11px;
  margin-bottom: 2px;
}
.contribution-content p {
  font-size: 14px;
  color: rgb(50,50,50);
}
.contribution-details {
  display: flex;
  background-color: rgba(240,240,240,0.9);
}
.contribution-content {
flex-grow: 1;
}
.contribution-voting {
width: 20px;
  p {
    margin-bottom: 0;
  }
}
.contribution-contributor-comment {
  display:flex;
}
.voting-item {
  color: rgb(120,120,120);
}
.thread-comments {
  width: 400px;
}


// TEST ------------------------

.comments:after { border-color: #fff; }
.comments:before { background-color: #fff; }
.comments .comment {
  background: #fff;
  border-radius: 10px;
  font-size: 13px;
  padding: 10px 15px;
}
.comments [class*="level-"] .photo:before { background-color: #fff; }
.comments .meta { color: #ccc; }
.comments .meta a { color: inherit; }
.comments .meta a:hover { color: rgb(199, 168, 109); }
.comments .body { color: #888; }

/**
 * Comments Thread
 */
.comments {
  list-style-type: none;
  padding: 5px 0 0 46px;
  position: relative;
  margin: 0 0 0 12px;
  width: 400px;
}
.comments:before,
.comments .comment,
.comments .comment:after,
.comments .comment:before,
.comments .photo img,
.comments [class*="level-"] .photo:before {
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.comments:after,
.comments:before {
  display: block;
  content: '';
  position: absolute;
}
.body-and-voting {
  display: flex;
}
.body {
  flex-grow: 1;
  position:relative;
}
.body-comment {
  width: 100%;
  height: 100px;
}
.submit-form {
  position:absolute;
  bottom: 6px;
  right: 2px;
  color: #ccc;
  font-weight: bolder;
  &:hover {
    color: rgb(199, 168, 109);
  }
}
.comments:before {
  border-radius: 0 0 5px 5px;
  height: 100%;
  width: 8px;
  left: 0;
  top: 0;
}
.comments:after {
  box-shadow: 0 1px 3px rgba(0,0,0,.4), 0 1px 3px rgba(0,0,0,.4) inset;
  border-width: 4px;
  border-style: solid;
  border-radius: 18px;
  height: 10px;
  width: 10px;
  left: -1.5px;
  top: -16px;
  z-index: -1;
}
.comments .comment {
  margin-bottom: 10px;
  position: relative;
}
.comments .comment:after,
.comments .comment:before {
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: '';
}
.comments .comment:after {
  width: 12px;
  height: 12px;
  left: -14px;
  top: 7px;
}
.comments .comment:before {
  width: 5px;
  height: 5px;
  left: -22px;
  top: 16px;
}
.comments .photo {
  position: absolute;
  left: -58px;
  top: 2px;
}
.comments .photo img {
  border: 1px solid #fff;
  border-radius: 32px;
  overflow: hidden;
}
.comments .meta { margin-bottom: 5px; }
.comments .meta .reply { float: right; }
.comments .comment:hover .reply { display: block; }
.comments [class*="level-"] .photo:before {
  display: block;
  content: '';
  position: absolute;
  margin-top: -2px;
  height: 4px;
  width: 20px;
  left: -10px;
  top: 50%;
  z-index: -1;
}
.comments .level-2 { margin-left: 30px; }

.btn-ghost {
  font-size: 10px;
  padding-top: 5px;
  &:hover {
    background-color: rgba(200, 200, 200, 0.6);
    color: white;
  }
}

.hideDivContributions {
  display: none;
}
.hideDivContributions.is-visible {
  display: block;
}

.hideDivComments {
  display: none;
}
.hideDivComments.is-visible {
  display: block;
}

